.app-container {
  display: flex;
}

.app-container div {
  flex: 1;
}

.cookie-part {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cookie-part img {
  height: 400px;
}